
<!--
<footer class=" fonte  pt-3    static-bottom   ">
                                                      
                 
                  <a class="  nav-link fs-6 text-warning text-center" href="home">Web Page desenvolvida por PixelClocksStudio</a>
                  </footer>
                  --> 

</body>
</html>