<body class="bg-dark" style="cursor: crosshair; overflow: hidden;">



                  
<!--
                  <nav class="navbar bg-body-tertiary bg-dark "data-bs-theme="dark">
                    <div class="container-fluid d-flex justify-content-center ">
                      <a id="menuHome" aria-current="page"  class="navbar-brand" href="/">1</a>
                      <a id="menuHome" aria-current="page"  class="navbar-brand" href="/">2</a>
                      <a id="menuHome" aria-current="page"  class="navbar-brand" href="/">3</a>
                    </div>
                  </nav>
          -->    
          <div class="container d-flex justify-content-center">
            <div class="card " style="width: 18rem;">
              <canvas class="borda  " id="Canvas" ></canvas>
              <div class="">
               
                <canvas class="borda d-flex justify-content-center full-size " id="Canvas2" ></canvas>
              </div>
            </div>
          </div>    
        
 

 
    
 
  
 

                 